.covid-dahboard-page {
    // background-color: #fff;   
    // padding: 15px;
    // margin: 15px;
    // border: 1px solid #eee;
    // min-height: calc(100vh - 128px);
    // box-shadow: 0px 5px 5px -3px rgba(199,199,199,0.2), 0px 8px 10px 1px rgba(199,199,199,0.14), 0px 3px 14px 2px rgba(199,199,199,0.12);
    width: 50%;
}

.dashboard-header {
    display: flex;
}
.heading-box {    
    margin-bottom: 10px;
}
.heading-box h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}
.predict-form-row {
    display: flex;
    flex-flow: row wrap;   
}
.predict-form-col {   
    width: 50%;
}
.predict-form-col-inner {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 15px;
}
.predict-form-col label {
    color: #7f7f7f;
}
.covid-dahboard-wrapper .mat-form-field {
    width: 100%;
}
.predict-form-btn-block {
    text-align: center
}
.predict-form-btn-block > button {
    margin-left: 7.5px;
    margin-right: 7.5px;
}
.predict-page .inner-page-title-block {
    padding-bottom: 15px;
}
// .predict-form-btn-block .mat-raised-button.mat-primary:not([disabled]) {
//     background-color: #0f62fe;
//     color: #fff;
// }
.predict-error-block {
    padding-bottom: 10px;
    font-size: 13px;
    text-align: center;
    color: red;
}
.example-radio-group {
    display: flex;
    flex-direction: row;   
}  
.example-radio-button {
    margin: 5px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
#chartContainer, #chartContainer1 {
    height: 250px; 
    width: 100%;
}
.prediction-box {
    padding-top: 25px;
}
canvas.canvasjs-chart-canvas {
    width: 100%;
}
.covid-dashbpard-page-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.covid-dahboard-wrapper {   
    background-color: #fff;
    padding: 15px;
    border: 1px solid #eee;
    min-height: calc(100vh - 128px);
    box-shadow: 0px 5px 5px -3px rgba(199, 199, 199, 0.2), 0px 8px 10px 1px rgba(199, 199, 199, 0.14), 0px 3px 14px 2px rgba(199, 199, 199, 0.12);
}
.covid-dahboard-wrapper.left {
    margin-right: 7.5px;
}
.covid-dahboard-wrapper.right {
    margin-left: 7.5px;
}
.inner-page-title-border {
    border-bottom: 2px solid #0f62fe;
    width: 47%;
}
@media (max-width: 768px) {
  .dashboard-header {
     flex-flow: row wrap;
   }
   .predict-form-col {   
    width: 100%;
   }  
}    
@media (max-width: 480px) {
    .heading-box h1 {
        font-size: 18px;;
    }
    .predict-form-col {   
        width: 100%;
    }
    .covid-dahboard-page {
        width: 100%;
    }
    .covid-dahboard-wrapper.left {
        margin-right: 0px;
        margin-bottom: 7.5px;
    }
    .covid-dahboard-wrapper.right {
        margin-left: 0px;
        margin-top: 7.5px;
    }
}